@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Neucha&display=swap');

body{
    font-family: Neucha;
}

.heading{
    font-size: 3rem;
}

#login{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0;
}

.item{
    font-size: 1.8rem;
}
